.text-grey {
  color: $my-grey;
}

#modal__overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: #4949497e;
  cursor: pointer;

  z-index: 998;
}

.modal__outer {
  * {
    font-family: unset;
    font-size: unset;
  }

  position: absolute;
  max-width: 90%;
  max-height: 90%;
  width: 1000px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0;
  background: $blue;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;

  z-index: 999;
}

.modal__inner {
  position: relative;
  width: 100%;
  padding: 1rem;

  box-shadow: 5px 5px 10px #494949;
  // border-top: 0.3rem solid rgb(85, 159, 175);
  // border-right: 0.3rem solid rgb(85, 159, 175);
  background: white;
  border-radius: 1.5rem;
  border-top-right-radius: 7rem;
  border-top-left-radius: 0.5rem;

  flex: 1 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.modal__scroll-content {
  width: 100%;
  flex: 1;
  overflow: auto;
  @include scrollbar-bella;
}

.modal__menu {
  color: white;
  padding: 0.5rem 0 0.3rem 1.2rem;
  display: flex;
}

.modal__tab-toggler {
  position: relative;
  background: $dark-blue;
  padding: 0.3rem 2rem 0.1rem 2rem;
  margin: 0 -0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;

  * {
    font-size: 1rem;
  }

  /*&:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    height: calc(100% - 16px);
    width: 100%;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
  }*/
}

.modal__tab-toggler--selected {
  background: $blue !important;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.268);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 9;
}

.modal__closer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;

  font-weight: bold;
  font-size: 1.2rem;

  cursor: pointer;
}

.modal__title {
  color: $blue;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2.5rem;
  word-wrap: break-word;
  font-family: 'spartan-regular';
  font-weight: bold;
  font-size: 1.2rem;
}

.modal__id-audit-container {
  padding-top: 1rem;
  background: white;
  font-weight: bold;
  position: fixed;
  bottom: 2px;
  left: 1rem;
  text-align: center;
  width: calc(100% - 2rem);
}

.modal__modifica_col,
.modal__salva_col {
  position: fixed;
  bottom: 2px;
  right: 1rem;
}

.modal__dati {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.1rem;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.modal__element {
  width: 50%;
  margin: 0;
  padding: 0;
  // è una cafonata ma dipende dall'errore fatto in *{} n area-riservata.scss
  font-weight: bold;
  font-family: 'spartan';
  * {
    font-family: 'spartan';
    font-weight: bold;
  }
}

@media (max-width: 764px) {
  .modal__element {
    width: 100%;
  }
}

.modal__textarea {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  resize: none; // TODO: ???
  // font-family: 'spartan-regular';
  padding: 1rem;

  border: 1px solid #c0c0c0;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;

  /*&::placeholder {
    // Chrome, Firefox, Opera, Safari 10.1+
    // color: grey;
    // opacity: 0.5; // Firefox
  }*/

  &:focus,
  &:active {
    outline: none !important;
    border: 1px solid $blue;
  }

  // @include scrollbar-bella(0.5rem, rgb(196, 196, 196));
}

.modal__textarea-preview {
  font-family: 'spartan-regular';
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.modal__textarea-title {
  margin-bottom: 0.5rem;
  color: $orange;
  font-style: oblique;
  font-family: Arial;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.modal__photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.2rem;
  padding-bottom: 3rem;
}

.modal__photo {
  aspect-ratio: 1;
  border-radius: 0.3rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: ($break-xs - 1)) {
  .modal__photo-grid {
    gap: 1.5rem;
  }
}

@media (min-width: ($break-sm - 1)) {
  .modal__photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: ($break-md - 1)) {
  .modal__photo-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.modal__add-photo {
  padding: 0.3rem;
  position: absolute;
  bottom: 1.2rem;
  right: 1.3rem;
}
