@import 'constants.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  font-family: $font-spartan;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul{
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

#come-certificarsi,
#contatti,
#chi-siamo {
  scroll-margin-top: calc($nav-height + 2.5em);
}
