$blue: rgb(56, 134, 151);
$dark-blue: #296572;
$brown: rgb(197, 83, 46);
$orange-brown: rgb(171, 105, 63);
$green: rgb(109, 134, 98);
$orange: rgb(197, 83, 46);
$dark: #212529;
$light: #f8f9fa;

$nav-height: 50px;

$nav-z: 1;
$modal-z: 3;
$modal-overlay-z: 2;

$break-xs: 576px;
$break-sm: 768px;
// $break-sm: 650px;
$break-md: 992px;
$break-lg: 1200px;
$break-xl: 1400px;


@font-face {
  font-family: 'spartan';
  src: url('../resources/fonts/spartan.ttf') format('truetype');
}

@font-face {
  font-family: 'spartan-regular';
  src: url('../resources/fonts/spartan-regular.ttf') format('truetype');
}

$font-spartan: 'spartan', Fallback, sans-serif;