@import 'constants.scss';

#contatti {
  padding: 0 1rem;
}
.footer-cols {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  flex: 0 0 auto;
  width: 25%;
  padding: 1.5rem .5rem;
  display: flex;
  flex-direction: column;
}

.footer-col.col-menu {
  width: 20%;
}

.footer-col.col-contatti {
  width: 30%;
}

.footer-col h1 {
  margin-bottom: 1.5rem;
}

.footer-col nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.footer-col nav button {
  width: fit-content;
  border: $orange;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  margin: auto auto;
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

#powered-by {
  padding: 1rem 1rem;
  text-align: right;
}

@media (max-width: ($break-md - 1)) {
  .footer-col {
    width: 50% !important;
  }
}


@media (max-width: ($break-sm - 1)) {
  #powered-by {
    text-align: center;
  }

  .footer-col {
    width: 100% !important;
  }
}
