/*
Per riutilizzare:

HTML:
.slideshow
  .slideshow__items
    .slideshow__item
    .slideshow__item
    .slideshow__item
    ...      
  .slideshow__items.slideshow__items--copy
    .slideshow__item
    .slideshow__item
    .slideshow__item
    ...

gli slideshow__item sono duplicati in slideshow.js
una volta duplicati viene applicata l'animazione per mantenerle sincronizzate
*/

/* PARAMS */
$item-width: auto; // Non percentuali
$item-height: 100px; // Non percentuali
$x-min-space: 2rem; // Non percentuali
$duration: 50s;

.slideshow {
  position: relative;
  width: 100%;
  height: $item-height;
  overflow: hidden;
}

.slideshow__items {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: fit-content;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slideshow__item {
  width: $item-width;
  height: 100%;
  margin: 0 $x-min-space;

  img {
    max-width: 50vw;
    height: 100%;
    object-fit: contain;
  }
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
