@import '../base/typography';

.table-risultati {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr) minmax(0, auto) minmax(auto, 1fr) minmax(auto, 1fr);
  word-wrap: break-word;
}

categoria-risultati {
  position: relative;
  grid-column: 1/4;

  &:first-of-type {
    h3 {
      margin-top: 1rem;
    }
  }

  h3 {
    font-weight: 700;
    text-transform: uppercase;
  }

  img {
    position: absolute;
    height: 10rem;
    left: 0;
    bottom: 0;
    transform: translate(-110%, calc(50% + 2rem));
  }
}

.row-spacer {
  grid-column: 1/4;
  height: 2rem;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include not-device(desktop) {
  .table-risultati {
    grid-template-columns: minmax(auto, 30%) 1fr;
  }

  categoria-risultati,
  .row-spacer {
    grid-column: 1/3;
  }
}

#nessun-risultato {
  display: none;
  &.visible {
    display: block;
  }
}

#loading-spinner {
  display: none;
  height: 50vh;
  place-content: center;
  &.visible {
    display: grid;
  }
}

.lds-spinner {
  display: inline-block;
  color: red;
  position: relative;
  width: 80px;
  height: 80px;

  div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 3px;
      left: 37px;
      width: 6px;
      height: 18px;
      border-radius: 20%;
      background: $blue;
    }

    &:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    &:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }
    &:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    &:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    &:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    &:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    &:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    &:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    &:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    &:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    &:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    &:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

row-risultato {
  //.row
  display: contents;

  &:not(:last-child) {
    .cell {
      border-bottom: 1px solid #b5b5b5;
    }
  }

  .collapse {
    position: relative;
    display: contents;

    .cell {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .collapse__content,
  .inline-container {
    display: contents;
  }

  .inline-container {
    .cell {
      padding-right: 1rem;
    }
  }

  .cell {
    padding: {
      top: 0.9rem;
      bottom: 0.6rem;
    }

    &:first-child {
      margin-left: 1rem;
    }

    &:not(:last-child) {
      padding-right: 1rem;
    }

    h5 {
      margin-top: 0;
    }
  }

  .arrow {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    width: 0.8rem;
  }

  #brand {
    font-weight: 600;
  }

  #tipologia {
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }

  #kosher {
    height: $step-1;
  }

  @include not-device(desktop) {
    $cell-pad-y: 0.3rem;

    &.row-risultato--active {
      .collapse__content {
        height: auto;
        padding-bottom: $cell-pad-y;
        padding-top: 0;
      }

      .arrow {
        transform: scaleY(-1);
      }
    }

    .collapse {
      display: block;
      grid-column: 1/3;
      border-bottom: 1px solid #b5b5b5;
    }

    .collapse__content {
      display: block;
      height: 0;
      padding-top: $cell-pad-y;
      padding-left: 0.5rem;
      overflow: hidden;
    }

    .inline-container {
      display: flex;
      align-items: center;
      padding-top: 0.2rem;
    }

    .cell {
      border-bottom: none !important;
      padding: 0;
      font-size: $step-1;
    }

    #brand,
    #prodotto {
      padding-top: $cell-pad-y;
    }

    #brand,
    .collapse {
      margin-left: 1rem;
    }

    .descrizione {
      padding-bottom: 0.2rem;
      padding-right: 1rem;
      font-size: $step-0;
    }

    #tipologia::after,
    #tipologia::before {
      content: '';
    }

    #kosher {
      height: $step-2;
    }
  }
}
