@import '../base/base';
@import '../base/classes';

section {
  padding: 2rem;
}

#standard {
  background-color: #f0f0f0;

  .max-width-container {
    max-width: 800px;
  }
}

.step {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  & > * {
    flex: 0 0 50%;
  }
  img {
    width: 100%;
  }
}

.step-image {
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: $step-5 * $scale * $scale * $scale * $scale * $scale * $scale;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.1rem #27272780;
  }

  p {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, calc(-50% + 3rem));
    padding: 0.2rem 0.4rem;
    padding-top: 0.3rem;
    font-size: $step-1;
    border-radius: 0.2rem;
    color: white;
    box-shadow: 0.2rem 0.2rem 0.5rem #27272780;

    font-weight: 500;
  }
}

.step-description {
  padding: 0 4rem;

  ul {
    padding-left: 2rem;

    li::before {
      display: inline-block;
      content: ''; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      margin-left: -1.8rem;
      margin-right: 1rem;
    }
  }

  h4 {
    margin-top: 1rem;
  }
}

.step-l {
  border-top: 2px solid $blue;

  h4 {
    color: $blue;
  }
  ul li::before {
    background-color: $blue;
  }
  .step-image {
    p {
      background-color: $blue;
    }
  }
}

.step-r {
  flex-direction: row-reverse;
  border-top: 2px solid $red;
  h4 {
    color: $red;
  }
  ul li::before {
    background-color: $red;
  }
  .step-image {
    p {
      background-color: $red;
    }
  }
}

@include device(tablet) {
  .step {
    margin-bottom: 2rem;
  }
  .step-description {
    padding: 0 2rem;
  }
  .step-image {
    h1 {
      font-size: $step-5 * $scale * $scale * $scale * $scale;
    }

    p {
      font-size: $step-0;
      transform: translate(-50%, calc(-50% + 2rem));
      width: fit-content;
    }
  }
}

@include device(mobile) {
  .step {
    flex-wrap: wrap;
    & > div {
      flex: 1 1 100%;
    }
    margin: 2rem 1rem;
  }
  .step-description {
    padding: 0 0.5rem;
  }
}

#presidio {
  .max-width-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    max-width: 1200px;
  }

  p {
    margin-top: 0;
  }

  img {
    width: 100%;
    grid-row: 1/3;
    grid-column: 2;
  }
}

#video-yt {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
  iframe {
    aspect-ratio: 560 / 315;
    width: 100%;
  }
}

@include not-device(desktop) {
  #presidio .max-width-container {
    grid-template-columns: 1fr;
    img {
      grid-column: unset;
      grid-row: 2;
    }
    h1 {
      margin-bottom: 1rem;
    }
    div {
      margin-top: 1rem;
    }
  }
}
