@import '../base/base';
@import '../base/classes';

@import '../index/main';
@import '../index/infografica';
@import '../index/mappa';
@import '../index/direttivo';

html {
  height: 100%;
  // scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

