<div id="audit_view_container" class="modal__outer d-none">
  <span class="modal__id-audit">
    Audit <span class="id_audit"></span> | Foto | Info Azienda
  </span>
  <span class="modal__closer" onclick="closeView()">X</span>

  <div class="modal__inner">
    <h1 class="modal__azienda_audit"></h1>
    <b class="text-grey">
      <span class="modal__data_audit">20/12/2020</span>
      - <span class="modal__ora_audit">12:00</span>
    </b>
    <div class="modal__dati">
      <div class="modal__element">
        Auditor: <span class="modal__nome_auditor text-grey"></span>
      </div>
      <div class="modal__element">
        Indirizzo: <span class="modal__indirizzo_audit text-grey"></span>
      </div>
      <div class="modal__element">
        CAP: <span class="modal__cap_audit text-grey"></span>
      </div>
      <div class="modal__element">
        Località: <span class="modal__localita_audit text-grey"></span>
      </div>
      <div class="modal__element">
        Nome: <span class="modal__contatti_audit text-grey">Dr. Marco Costantino</span>
      </div>
      <div class="modal__element">
        Mail: <span class="modal__mail_audit text-grey">mcostantino@boltonalimentari.it</span>
      </div>
      <div class="modal__element">
        Telefoni: <span class="modal__telefoni_audit text-grey">031779383 - 3387291382</span>
      </div>
    </div>


    <!-- <% if Request.QueryString("cod_auditor") = Session("codice") then %> -->
    <div class="row justify-content-end">
      <div class="col-auto mb-3 modal__modifica_col" style="text-align:center">
        <button type="button" class="my-btn btn-blue modal__modifica_btn" onclick="">Modifica</button>
      </div>
      <div class="col-auto d-none mb-3 modal__salva_col" style="text-align:center">
        <button type="button" class="my-btn btn-blue modal__salva_btn" onclick="">Salva</button>
      </div>
    </div>
    <!-- <% End If %> -->

    <div class="row mb-3">
      <div class="modal__textarea-title col-md-2 col-12">Oggetto Audit</div>
      <div class="modal__oggetto_audit modal__textarea-preview col-md-10 col-12 "></div>
      <div class="modal__oggetto_audit_edit col-md-10 col-12 d-none">
        <textarea class="modal__textarea modal__textarea_oggetto_audit" rows="4" cols="50"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="modal__textarea-title col-md-2 col-12">Descrizione/esito audit</div>
      <div class="modal__descrizione_audit modal__textarea-preview col-md-10 col-12"></div>
      <div class="modal__descrizione_audit_edit col-md-10 col-12 d-none">
        <textarea class="modal__textarea modal__textarea_descrizione_audit"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="modal__textarea-title col-md-2 col-12">Documenti e segnalazioni</div>
      <div class="modal__documenti_audit modal__textarea-preview col-md-10 col-12"></div>
      <div class="modal__documenti_audit_edit col-md-10 col-12 d-none">
        <textarea class="modal__textarea modal__textarea_documenti_audit" name=""></textarea>
      </div>
    </div>
  </div>
</div>