<div id="audit_view_container" class="modal__outer d-none">
  <div class="modal__menu">
    <div class="modal__tab-toggler modal__tab-toggler--selected" data-target="modal__tab-audit"
      onclick="switchModalView(this)">
      Audit
    </div>
    <div class="modal__tab-toggler" data-target="modal__tab-foto" onclick="switchModalView(this)">Foto</div>
    <div class="modal__tab-toggler" data-target="modal__tab-contatti" onclick="switchModalView(this)">Contatti</div>
  </div>
  <span class="modal__closer" onclick="closeView()">X</span>

  <div id="modal__tab-audit" class="modal__inner">
    <div class="modal__scroll-content">
      <h1 class="modal__azienda_audit modal__title"></h1>
      <b class="text-grey">
        <span class="modal__data_audit">20/12/2014</span> - <span class="modal__ora_audit">12:55</span>
      </b>
      <div class="modal__element">
        Auditor: <span class="modal__nome_auditor text-grey"></span>
      </div>

      <div class="row mb-3 mt-2">
        <div class="modal__textarea-title col-md-2 col-12">Oggetto Audit</div>
        <div class="modal__oggetto_audit modal__textarea-preview col-md-10 col-12 "></div>
        <div class="modal__oggetto_audit_edit col-md-10 col-12 d-none">
          <textarea class="modal__textarea modal__textarea_oggetto_audit" rows="4" cols="50"></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <div class="modal__textarea-title col-md-2 col-12">Descrizione / esito audit</div>
        <div class="modal__descrizione_audit modal__textarea-preview col-md-10 col-12"></div>
        <div class="modal__descrizione_audit_edit col-md-10 col-12 d-none">
          <textarea class="modal__textarea modal__textarea_descrizione_audit"></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <div class="modal__textarea-title col-md-2 col-12">Documenti e segnalazioni</div>
        <div class="modal__documenti_audit modal__textarea-preview col-md-10 col-12"></div>
        <div class="modal__documenti_audit_edit col-md-10 col-12 d-none">
          <textarea class="modal__textarea modal__textarea_documenti_audit" name=""></textarea>
        </div>
      </div>

      <div class="modal__id-audit-container">
        Audit: <span class="id_audit"></span>
      </div>

      <!--% if Request.QueryString("cod_auditor")=Session("codice") then %-->
      <div class="modal__modifica_col text-center">
        <button type="button" class="my-btn btn-blue modal__modifica_btn">
          <img src="resources/img/riservata/modifica.svg" loading="lazy" width=20 alt="modifica">
        </button>
      </div>
      <div class="modal__salva_col text-center d-none">
        <button type="button" class="my-btn btn-blue modal__salva_btn">
          <img src="resources/img/riservata/save.svg" loading="lazy" width=20 alt="salva">
        </button>
      </div>
      <!--% End If %-->

    </div>
  </div>

  <div id="modal__tab-foto" class="modal__inner d-none">
    <h1 class="modal__title">FOTO DEL <span class="modal__data_audit"></span></h1>
    <div class="modal__scroll-content mt-2">
      <p style="line-height: 1.2rem;">
        Potrebbero comparire anche foto relative ad altri audit.
      </p>
      <div class="modal__photo-grid">
        <div class="modal__photo"><img
            src="https://www.venetoformazione.it/wp-content/uploads/2020/11/ottimizzare-immagini-display-retina.jpg"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://fotografiaartistica.it/wp-content/uploads/2019/06/nasa-immagini-gratuite-dello-spazio.jpg"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://images.corsidia.com/ckeditor/pictures/data/000/000/086/content/immagini-e-tabelle-html-00.jpg"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img src="https://www.frasimania.it/wp-content/uploads/2020/11/immagini-mare.jpg"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://www.donnamoderna.com/content/uploads/2020/07/Immagini-rilassanti-di-panorami-naturali-830x625.jpg"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://www.pantareinews.com/wp-content/uploads/2019/06/come-ritagliare-immagii-in-forme-diverse.jpg"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://static.fanpage.it/wp-content/uploads/sites/6/2021/09/buon-equinozio-2021-immagini-1-1200x675.jpg"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://frasissime.com/wp-content/uploads/2019/09/immagini-con-frasi-sul-karma.jpg" alt=""
            loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPrYQ9iW-SaFJqUl4a1GLW_6zewJi_Ih8L9A&usqp=CAU"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeJpjiv3DfWcFuhGWiAwSmzgs428AVQ3ZkoA&usqp=CAU"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShC09S_MYo4-YIb987Zi5CsplRsyeFm5qHeg&usqp=CAU"
            alt="" loading="lazy"></div>
        <div class="modal__photo"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW8NpCLwmpy33X_RTfKG-8qocmC_vr58D-3A&usqp=CAU"
            alt="" loading="lazy"></div>
      </div>
    </div>
    <button type="button" class="modal__add-photo my-btn btn-blue ms-auto mt-1">
      <img src="resources/img/riservata/plus.svg" alt="add" loading="lazy" width=20>
    </button>
  </div>

  <div id="modal__tab-contatti" class="modal__inner d-none">
    <h1 class="modal__azienda_audit modal__title"></h1>
    <p class="text-grey fw-bold">
      <span class="modal__indirizzo_audit"></span>,
      <span class="modal__cap_audit"></span>,
      <span class="modal__localita_audit"></span>
    </p>
    <div class="flex-grow-1 d-grid" style="place-items: center;">
      <div class="mb-5 pb-5">
        <div class="d-flex flex-row align-items-center my-2">
          <img src="resources/img/riservata/user.svg" class="me-2" loading="lazy" width=22>
          <span class="modal__contatti_audit mid-text" style="text-transform: unset;"></span>
        </div>
        <div class="d-flex flex-row align-items-center mb-2">
          <img src="resources/img/riservata/mail.svg" class="me-2" loading="lazy" width=22>
          <span class="modal__mail_audit mid-text" style="text-transform: unset;"></span>
        </div>
        <div class="d-flex flex-row align-items-center mb-2">
          <img src="resources/img/riservata/phone.svg" class="me-2" loading="lazy" width=22>
          <span class="modal__telefoni_audit mid-text" style="text-transform: unset;"></span>
        </div>
      </div>
    </div>
  </div>
</div>