<div class="container-fluid h-100 d-flex flex-column">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1 class="mid-text m-0">I miei Audit</h1>
    <img src="resources/img/riservata/filtro.svg" alt="" class="toggle me-0" data-target="filtri-myaudits" width="15">
  </div>

  <div id="filtri-myaudits" class="row mb-2 g-2">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="d-flex align-items-center">
        Regione:
        <select id="select_region_myaudits" class="form-select form-inline p-0 ps-2 ms-1" onchange="regioneselected()">
          <option value="" selected>Tutti</option>
        </select>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-8">
      <div class="d-flex align-items-center">
        Cliente:
        <select id="select_client_myaudits" class="form-select p-0 ps-2 ms-1" onchange="clientselected()">
          <option value="" selected>Tutti</option>
        </select>
      </div>
    </div>
  </div>

  <div id="audits_container">
    <table class="audits_table w-100">
      <thead class="table-columns hide-on-mobile">
        <tr>
          <td>n.</td>
          <td>Data</td>
          <td>Azienda</td>
          <td>Località</td>
          <td>Auditor</td>
          <td class="text-center">Stato</td>
        </tr>
      </thead>
      <caption class="d-none no-audits">
        Nessun audit trovato
      </caption>
    </table>
  </div>

  <div class="d-flex flex-grow-0 justify justify-content-between align-items-center mt-1">
    <nav>
      <ul class="pagination fw-bold mb-0 text-blue">
        <a class="page-link" aria-label="Next">
          <span class="d-md-none">&laquo;</span>
          <span class="d-none d-md-inline">Previous</span>
        </a>
        <li class="page-item position-relative">
          <a class="page-link current-page">6</a>
          <div class="page-list d-none">
            <a class="page-link">1</a>
            <a class="page-link">2</a>
            <a class="page-link">3</a>
            <a class="page-link">4</a>
            <a class="page-link">5</a>
            <a class="page-link">6</a>
            <a class="page-link">7</a>
            <a class="page-link">8</a>
            <a class="page-link">9</a>
            <a class="page-link">10</a>
          </div>
        </li>
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span class="d-md-none">&raquo;</span>
            <span class="d-none d-md-inline">Next</span>
          </a>
        </li>
      </ul>
    </nav>

    <p class="tot_audits fw-bold mb-0 pt-1 ps-2"></p>
  </div>

</div>