:root {
  --nav-space: 5.6rem;
  @include not-device(desktop) {
    --nav-space: 6.1rem;
  }
}

.max-height-container {
  max-height: 1200px;
}

.h-100 {
  min-height: 100%;
  height: 1px;
}

.d-none {
  display: none !important
}

main {
  position: relative;
  z-index: 7;

  .max-width-container {
    position: relative;
  }
  .max-height-container {
    position: relative;
  }
}

#main-ellipse-container {
  position: absolute;
  top: var(--nav-space);
  left: 50%;
  width: 100vw;
  height: calc(100% - var(--nav-space));
  overflow: hidden;
  transform: translateX(-50%);
}

#main-ellipse {
  position: absolute;
  left: 50%;
  width: 150%;
  height: calc(200% - 5.5rem);
  transform: translateX(-50%);

  background-color: white;

  overflow: hidden;

  box-shadow: inset 0 4rem 1rem $dark;

  border-radius: 100% / 100%;
  @include not-device(desktop) {
    width: 230%;
  }
  @media (orientation: portrait) {
    width: 230%;
  }

  transition: border-radius 0.4s ease-in-out 0s;

  // &.straight {
  //   border-radius: 100% / 0%;
  // }
}

.ellipse-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  // &.ellipse-bg--top {
  //   z-index: 2;
  // }
}

#ellipse-0 {
  // background: radial-gradient(circle at 50% 25%, lighten($light, 0) 0%, $dark-blue 80%);
  background: radial-gradient(circle at 50% 30%, #315cca 0%, #2b478f 40%, #272727 80%);
  @include device(mobile) {
    background: #2f72bd;
  }
}

#ellipse-1 {
  // background: radial-gradient(circle at 50% 25%, lighten($light, 0) 0%, #ffb81f 150%);
  background: radial-gradient(circle at 50% 25%, #ffef11 5%, #ffeb3c 20%, #fbfd69 35%);
  @include device(mobile) {
    background: #ffe031;
  }
}

#ellipse-fallback {
  background: radial-gradient(circle at 50% 30%, #315cca 0%, #2b478f 40%, #272727 80%);
  @include device(mobile) {
    background: #2f72bd;
  }
}

// .product-img-container {
//   width: 100%;
//   height: 200%;
//   position: absolute;
//   overflow: hidden;
//   z-index: 99;
// }

.product-img,
.product-img-side {
  position: absolute;
  left: 50%;
  height: calc(200% - 5.5rem);
  transform: translateX(-50%);
}

.hero {
  position: absolute;
  top: calc(27% + 5.5rem);
  left: 60%;
  width: 40%;
  text-align: right;
  padding-right: 7rem;

  z-index: 99;

  h1 {
    font-weight: 600;
    // text-shadow: 0.2rem 0.2rem 0.2rem #8c8c8c6e;
    font-size: $step-4;

    @include device(mobile) {
      font-size: $step-3;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 1rem;
  }

  .buttons {
    justify-content: end;
  }

  transform-origin: -25% bottom;

  &.hero--hidden {
    display: none;
  }
}

// #hero-1 {
//   top: calc(18% + 5rem);
//   left: 62%;
//   width: 38%;
// }

.firma-rav {
  position: absolute;
  bottom: 3%;
  right: 65%;
  width: 30%;
  // z-index: 0;
  transform-origin: 150% bottom;
  filter: drop-shadow(0.05rem 0.2rem 0.1rem rgb(0 0 0 / 0.2));
}

#main-contatti {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 2rem;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#btn-contatti {
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  color: white;
}

.social-icons {
  img {
    display: block;
    width: 2rem;
    filter: drop-shadow(0.05rem 0.2rem 0.1rem rgb(0 0 0 / 0.2));
  }
}

@include not-device(desktop) {
  .hero {
    // position: relative;
    top: 5.5rem;
    margin-top: 20%;
    left: 10%;
    width: 80%;
    padding-right: 0;
  }

  .product-img-container {
    top: calc(20% + 10.5rem);
    transform: translate(0%, -10%);
    height: calc(120% + 10rem);
  }

  .firma-rav {
    width: 40%;
    top: unset;
    right: 5%;
    bottom: 10%;
  }

  @media (orientation: landscape) {
    #main-contatti {
      top: unset;
    }
  }
}

@include device(tablet) {
  .hero {
    margin-top: 10%;
  }
}

@include device(mobile) {
  .firma-rav {
    display: none;
  }
}

// ANIMATION ===============================================
// ANIMATION ===============================================
// ANIMATION ===============================================
// ANIMATION ===============================================

[data-anim] {
  display: none;
  &.ready {
    display: block;
  }
}

$power2-easeIn: cubic-bezier(0.6, 0, 0.8, 0.3);
$power2-easeOut: cubic-bezier(0.3, 0.8, 0.6, 1);

@keyframes firma-in {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes firma-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
}

.firma-rav.animation-in {
  opacity: 0;
  animation: 0.7s ease-in-out 1.05s 1 normal forwards running firma-in;
}
.firma-rav.animation-out {
  opacity: 1;
  animation: 0.7s ease-in-out 0.1s 1 normal forwards running firma-out;
}

.hero.animation-in {
  opacity: 0;
  animation: 0.7s ease-in-out 1.15s 1 normal forwards running firma-in;
}
.hero.animation-out {
  opacity: 1;
  animation: 0.7s ease-in-out 0.2s 1 normal forwards running firma-out;
}

@keyframes prod-in {
  0% {
    transform: translateX(-50%) translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes prod-out {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%) translateX(-100%);
  }
}

.product-img-side.animation-in {
  transform: translateX(-50%) translateX(100%);
  animation: 1s $power2-easeOut 1.2s 1 normal forwards running prod-in;
}
.product-img-side.animation-out {
  animation: 1s $power2-easeIn 0.5s 1 normal forwards running prod-out;
}

.product-img.animation-in {
  transform: translateX(-50%) translateX(100%);
  animation: 1s $power2-easeOut 1.1s 1 normal forwards running prod-in;
}
.product-img.animation-out {
  animation: 1s $power2-easeIn 0.4s 1 normal forwards running prod-out;
}

@keyframes ellipse-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ellipse-bg.animation-in {
  z-index: 1;
}

.ellipse-bg.animation-out {
  z-index: 2;
  animation: 1s ease-in-out 0.9s 1 normal forwards running ellipse-out;
}
