@import '../constants.scss';

#chi-siamo {
  width: 100%;
  max-width: $break-lg;
  margin: 0 auto;
    padding: 0 1rem;
}

#chi-siamo .big-title {
  margin-bottom: 0.5rem;
}

#chi-siamo .big-subtitle {
  margin-bottom: 2rem;
  font-style: italic;
  color: grey;
}

@media (min-aspect-ratio: 4/3) and (min-width: $break-sm) {
  #chi-siamo {
    min-height: 60vh;
  }
}

/*
@media (min-aspect-ratio: 7/6) and (min-width: 768px) {
  #chi-siamo {
    min-height: 40vh;
  }
}
*/

@media (max-width: ($break-sm - 1)) {
  #chi-siamo {
    margin: 10vh 0;
  }
}
