@import '../constants.scss';

#come-certificarsi {
  $pad: 2rem;
  max-width: calc(1000px + $pad);
  width: 100%;
  margin: 0 auto;
  padding: 0 $pad;
  word-break: normal;
  display: flex;
  flex-wrap: wrap;
}

$img-max-width: 100px;

@mixin growing-img-placing {
  position: absolute;
  height: 100%;
  max-width: $img-max-width;
  top: 0;
  left: 0;
}

.growing-img {
  @include growing-img-placing;
  width: 50%;
  background: url('../resources/img/trick/trick-bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  z-index: -2;
}

.growing-img::after {
  content: ' ';
  @include growing-img-placing;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.85) 5% 95%, transparent);
  z-index: -1;
}

.growing-img-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  max-width: $img-max-width;
  padding: 0;
  margin: 0;
}

.growing-img-bop {
  width: 50%;
  max-width: $img-max-width;
  padding: 0;
  margin: 0;
}

#come-certificarsi header {
  position: relative;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}

#come-certificarsi-title {
  text-align: center;
  align-self: center;
  margin-left: $img-max-width;
  h1 {
    margin-bottom: .5rem;
  }
}

.fasi-container {
  position: relative;
  width: 100%;
}

.fase {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.fase.fase-r {
  flex-direction: row-reverse;
  text-align: end;
}

.fase .fase-body {
  position: relative;
  flex-grow: 1;
  margin: 0 2rem;
}

.fase-body p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: calc(1.2rem + 0.2vw) !important;
  font-weight: normal !important;
}

@media (max-width: ($break-sm - 1)) {
  .fase .fase-body {
    margin: 0 1rem;
  }
}

.fase .fase-img {
  flex-grow: 0;
}

.fase .fase-number {
  position: absolute;
  font-weight: bold;
  top: 20%;
  font-size: 7rem;
  z-index: -1;
  opacity: 0.3;
}

.fase.fase-r .fase-number {
  right: 0%;
  color: $orange;
}

.fase.fase-l .fase-number {
  left: 0%;
  color: $blue;
  
}
