@import "../constants.scss";

#main-screen-mobile {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#main-logo-mobile {
  position: absolute;
  top: .8rem;
  left: .8rem;
  width: 25%;
  max-width: 100px;
}

#main-background-mobile {
  position: absolute;
  padding-top: $nav-height;
  top: 0%;
  left: 50%;
  height: 80vh;
  transform: scaleX(-1) translateX(50%);
  z-index: -1;
}

#mobile-main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0.5rem;
  margin-top: calc(50vh + $nav-height);
  margin-bottom: 2rem;
  border-radius: 1rem;
  text-align: center;
}

#mobile-main-banner h1 {
  margin-bottom: 0.6rem;
}

#mobile-main-banner p {
  margin-bottom: 1rem;
}

#mobile-main-banner a {
  margin-top: 0.3rem;
}

@media (orientation: portrait) {
  #main-screen-mobile {
    min-height: 100%;
  }
  #mobile-main-banner {
    margin-top: auto;
  }
}
