#partners {
  padding: 0.5rem;
  text-align: center;


  .slideshow {
    margin-top: 2rem;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to left, white, transparent 5% 95%, white);
      pointer-events: none;
    }
  }

  .slideshow.slideshow-reverse {
    .slideshow__items {
      animation-direction: reverse;
    }
  }
}
